@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(128, 128, 128, 0.2);

}

nav {
    height: 80px;
    background-color: #aacccd;
    display: grid;
    grid-template-columns: 40px 1fr 3fr;
    border-bottom: white 3px solid;
  
}

nav span {
    color: white;
    display: grid;
    grid-template-columns: 30px 250px;
    margin-left: 300px;
}

nav span #user {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

}

#span {
    transition: 0.2s;
}

#span:hover {

    transform: scale(1.04);

}



#profile {
    margin-left: -40px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

nav h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 700px;
    margin-top: 20px;
    margin: auto center;
    transition: 0.1s;
    cursor: pointer;
}

nav h1:hover {

    transform: scale(1.03);

}

nav ul {
    margin-left: 300px;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 5px;
    transition: 0.5s;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.3s;

}

nav a:hover::after {
    width: 100%;
    transition: 0.3s;

}

section {
    width: 70%;
    top : 100px;
    margin: auto;
    
}

#titre {

    margin-left: 30px;
    font-size: 30px;

}




#add {

    display: grid;
    grid-template-columns: 700px 240px 260px;
    background-color: #f5faf9;
    border-radius: 15px;
    margin-top: 10px;
    border-left: 5px solid #aacccd;
}

.spanadd img {

    margin-top: 22px;
    position: absolute;

    left: 1075px;
}

.spandelete img {


    position: absolute;
    margin-top: 22px;
    left: 1275px;
}

#btn {
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    transition: 0.5s;
    display: block;
    cursor: pointer;
    font-size: 19px;
    color: #00c2cc;
}

#btn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00c2cc;
    transition: 0.3s;

}

#btn:hover::after {
    width: 74%;
    transition: 0.3s;

}

#btn:hover {
    font-size: 19.5px;
}

#btn1 {
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    transition: 0.5s;
    display: block;
    cursor: pointer;
    font-size: 19px;
    color: #7d7f7f
}

#btn1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7d7f7f;
    transition: 0.3s;


}

#btn1:hover::after {
    width: 40%;
    transition: 0.3s;

}

#btn1:hover {
    font-size: 19.5px;
}




#nocont {
    display: none;
    width: 97%;
    margin-top: 10px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    background-color: #f5faf9;

}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
    border-radius: 29px;
}


/* close css */
.close {
    position: absolute;
    right: 600px;
    top: 160px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.5);
    margin-left: 150px;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* clear tir fl hwe */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.welcome {

    padding-top: 40px;
    color: #aacccd;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}




.sign {
    padding-top: 10px;
    color: #7d7f7f;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.un {
    width: 50%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
}


form.form1 {
    padding-top: 40px;
}

.pass {
    width: 50%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
}


.un:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

#gen{
    display: inline-block;
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    margin-left: 220px;
    padding:10px 10px;
}





#cancel {
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-left: 280px;

    transition: 0.5s;
    display: block;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0, 0.5);
}

#cancel::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.3s;


}

#cancel:hover::after {
    width: 15%;
    transition: 0.3s;

}




#addbut {
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-left: 240px;

    transition: 0.5s;
    display: block;
    cursor: pointer;
    font-size: 19px;
    color: #00c2cc;
}

#addbut::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00c2cc;
    transition: 0.3s;


}

#addbut:hover::after {
    width: 29%;
    transition: 0.3s;
}

#contenu {

    background-color: #f5faf9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-radius: 15px;
    margin-top: 10px;
    border-left: 5px solid #fffffff5;
}




#contact {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.1s;

    
}

#contact:hover {

    transform: scale(1.01);

}


.Female{

    border-bottom: 10px solid  #f0dbfd;
} 

.Male{

    border-bottom: 10px solid  #d8edff;

}

#contact img {

    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 10px;
    object-fit: cover;
}

.text {
   padding: 10px 50px;
   margin-right: 50px;
   margin-bottom: 200px; 

}



#span1 {
    position: absolute;
    color: #00c2cc;
    font-weight: bold;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 90px;

}

#span2 {

    position: absolute;
    color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 12px;
    margin-left: 200px;
    margin-top: 55px;

}

#up {

    position: absolute;
    color: #43d1b5;
    font-weight: bold;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 150px;
    cursor: pointer;
    transition: 0.5s;

}

#up::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00c2cc;
    transition: 0.3s;


}

#up:hover::after {
    width: 100%;
    transition: 0.3s;

}



#del {

    position: absolute;
    color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px;
    margin-left: 290px;
    margin-top: 150px;
    cursor: pointer;
    transition: 0.5s;
}

#del::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.3s;


}

#del:hover::after {
    width: 100%;
    transition: 0.3s;

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width : 1200px) and (max-width:1600px) {}



#search {

    margin-top: 10px;

}

.searchTerm {
    width: 30%;
    border: none;
    padding: 20px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    color: #9DBFAF;
    margin-top: 10px;
    margin-left: 450px;
    border-left: #00B4CC  5px solid ;
    transition: 0.1s;
}

.searchTerm:hover {
    transform: scale(1.005);
}
.searchTerm:focus {
    color: #00B4CC;
   
}

.searchButton {
    display: none;
    width: 60px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.1s;
}
.searchButton:hover{ 

    transform: scale(1.005);
    background: #55cdddf6;

}

.foundname {

    margin-left: 20px;

}

.foundimg {

    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    right: 690px;
}

.foundnum {

    position: absolute;
    color: #00c2cc;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;

}

.founddiv {
    margin-top: 10px;
    margin-left: 455px;
    background-color: white;
    display: grid;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 360px;
    height: 110px;


}